/*
 * Globals
 */
@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #555;
  background: #fff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
  color: #333;
}

h1 a, h1 a:hover, h1 a:focus, .h1 a, .h1 a:hover, .h1 a:focus,
h2 a,
h2 a:hover,
h2 a:focus, .h2 a, .h2 a:hover, .h2 a:focus,
h3 a,
h3 a:hover,
h3 a:focus, .h3 a, .h3 a:hover, .h3 a:focus,
h4 a,
h4 a:hover,
h4 a:focus, .h4 a, .h4 a:hover, .h4 a:focus,
h5 a,
h5 a:hover,
h5 a:focus, .h5 a, .h5 a:hover, .h5 a:focus,
h6 a,
h6 a:hover,
h6 a:focus, .h6 a, .h6 a:hover, .h6 a:focus {
  color: inherit;
  text-decoration: none;
}
